{% extends "layout-admin.njk" %}

{% block content %}
<main>
    <section class="section-form">
        <form action="/admin/revenue?_method=PUT" method="POST">
            <div class="form-header">
                <h3>Editando Receita</h3>
                <button type="submit">Salvar receita</button>
            </div>

            {% include "admin/fields.njk" %}

            <input type="hidden" name="id" value="{{revenue.id}}">

            <div class="item">
                <div id="ingredients">
                    <label for="new-ingredient">Ingredientes</label>
                    {% for item in revenue.ingredients %}
                        <div class="ingredient">
                            <input type="text" name="ingredients[]" id="new-ingredient" value="{{item}}">
                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
                <button type="button" class="remove-ingredient">Remover ingrediente</button>
            </div>

            <div class="item">
                <div id="steps">
                    <label for="new-step">Modo de preparo</label>
                    {% for item in revenue.preparation %}
                        <div class="step">
                            <input type="text" name="preparation[]" id="new-step" value="{{item}}">
                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="add-step">Adicionar novo passo</button>
                <button type="button" class="remove-step">Remover passo</button>
            </div>

            <div class="item">
                <label for="info">Informações adicionais</label>
                <textarea name="info" id="info" rows="15">{{revenue.info}}</textarea>
            </div>
        </form>

        <form action="/admin/revenue?_method=DELETE" method="POST" id="form-delete">
            <input type="hidden" name="id" value="{{revenue.id}}">
            <button type="submit">Deletar</button>
        </form>
    </section>
</main>
{% endblock content %}