<div class="item">
    <label for="img_url">Imagem da receita</label>
    <input type="url" name="img_url" id="img_url" value="{{revenue.img_url}}">
</div>

<div class="item">
    <label for="title">Nome da receita</label>
    <input type="text" name="title" id="title" value="{{revenue.title}}">
</div>

<div class="item">
    <label for="author">Autor</label>
    <input type="text" name="author" id="author" value="{{revenue.author}}">
</div>