{% extends "layout-admin.njk" %}

{% block content %}
<main>
    <h1 class="title-section-admin">Gerenciar receitas</h1>
    <section id="cards-admin">
        {% for item in revenues %}
            <div class="card-admin" id="{{ revenues.indexOf(item) }}">
                <span class="card-img-admin" style="background-image: url({{ item.img_url }})"></span>

                <div class="card-info-admin">
                    <p>{{ item.title }}</p>
                    <p>{{ item.author }}</p>
                    <button type="button">Visualizar</button>
                </div>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock content %}