<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Foodfy - Admin</title>
    {% endblock head %}

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="menu-admin">
            <div class="menu-img">
                <a href="/"><img src="/images/logo2.png" alt="Logo"></a>
            </div>
        </div>
    </header>

    {% block content %}{% endblock content %}

    <script src="/scripts-admin.js"></script>
</body>
</html>