{% extends "layout.njk" %}

{% block head %}
    <title>ERROR</title>
{% endblock head %}

{% block content %}
    <div class="error">
        <h1>ERROR - {{item}}!</h1>
    </div>
{% endblock content %}